<h1 class="title">Your Melody.</h1>
<br>

<button type = "button" class = "btn btn-default" ng-click="toggle()" >
	<span class="glyphicon glyphicon-{{buttonImg}}"></span>
</button>
<button type = "button" class = "btn btn-default" ng-click="back()" >
	<span class="glyphicon glyphicon-edit"></span> Back To Edit
</button>
<br>
<br>

<div class="panel panel-default">
    <div class="panel-body"><img style="width:100%;" src="engines/Generative-Music-master/out/{{genMelNumber}}/melody.png"></div>
</div>

<br>
<br>