<h1 class="title">Soft Music</h1>
<div class="pagePieceDate">2019</div>
<div class="pagePieceInsturmentation">Ensemble of Voices</div>
<br/>
About the work:
<br>
Soft music is an exploration of structure and construction out of some of the smallest and most incidental parts of every musical experience: breath. This work is generative and open instrumentation, and is for any number of voices that one might happen to have in an ensemble.
<br><br>
To Perform:
<br>
Each performer will play their audio part through earbuds or headphones off of their own cell phone so only they can hear it. This audio part contains instructions of what the performer is to do. The organizer of the performance should distribute a 'seed' to every member of the ensemble ("helloworld", "asdf", or something), as well as a part number (1,2, etc.). The performers then can generate a copy of the score on their phones and select which part they will be performing. When it is time to perform the work, every performer will hit "play" on their audio at the same time. They should then follow the instructions played out to them, and the work concludes when everyone is told the piece is over.
<br><br>

<table>
  <tr>
    <td>
      <i>Example</i> Performance Tape:
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>
      <audio controls>
<source src="res/SoftMusicExamplePart.m4a" type="audio/m4a">
Your browser does not support the audio element.
</audio>
    </td>
  </tr>
  </table>
  <br>
To Practice:
<br>
A practice tape can be found below that contains all the instructions that might occur in a performance part. This can be practiced in the same way as performance, where a member can, on his or own time, listen to the practice file on their own cell phone and follow the instructions given.
<br>
<br/>

<table>
  <tr>
    <td>
      Practice tape:
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>
      <audio controls>
<source src="res/SoftMusicPractice.mp3" type="audio/mp3">
Your browser does not support the audio element.
</audio>
    </td>
  </tr>
  </table>

<br/>
Every performance should be done with a fresh score specifically generated for that performance, which can be created below.
<br/>

<br/>
<center>
<div class="myCustomTable">
   <table class="table table-striped">
    <tr>
      <td> Option </td>
      <td> Selection </td>
    </tr>

      <tr>
        <td>Duration</td>
        <td>
          <select class="selectpicker" name="keyselector" ng-model="data.DURATION">
            <option value="-2">Shortest</option>
            <option value="-1">Short</option>
            <option value="0">Medium</option>
            <option value="1">Long</option>
            <option value="2">Longest</option>
          </select>
      </tr>
      <tr>
         <td>Number of Voices <i>(between 2 and 40)</i></td>
         <td>
            <div>
               <input class="form-control" type="number" min="2" max="40" ng-model="data.NOVOICES" id="example-number-input">
            </div>
         </td>
      </tr>
      <tr>
         <td>Random seed? <i>(leave blank for random)</i></td>
         <td>
            <div>
               <input class="form-control" type="string" ng-model="data.SEED" id="example-number-input">
            </div>
         </td>
      </tr>
      </tbody>
   </table>
</div>
<br/>


   <div>
      <div class="btn-group">
         <button type = "button" class = "btn btn-primary"  ng-disabled="data.HIGH<data.LOW+12" ng-click="gosoft()" >{{buttonMessage}} </button>
      </div>
      &nbsp &nbsp <i class="fa fa-circle-o-notch fa-spin" ng-show="isLoading" style="font-size:24px"></i>
   </div>
</center>
<br/>


<!-- 
A <i> sample </i> score and performance are below.
<br>
<br>
<center>
<audio controls>
  <source src="res/smallMusic.mp3" type="audio/mp3">
Your browser does not support the audio element.
</audio>
</center>
<br>

<object data="res/smallMusic.pdf" type="application/pdf" width="100%" height="500px">
   <p>It appears you don't have a PDF plugin for this browser.
      No biggie...
   </p>
</object>

<br>
<br>
<br>
World premiere: May 7th, 2018.
<br>
<object width="560" height="315" data="https://www.youtube.com/embed/IPDe_UPFTL4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></object>
 -->
<br/>
<br/>