h1 {
line-height: .5em;
} 
h2 {
line-height: 0.5em;
} 
body {
	font-family: 'Montserrat', sans-serif;
	background: black;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.flex-container {
    display: flex;
}

.innerChild{
	margin-top: 100px;
	margin-bottom: 100px;
}

.flex-child {
    flex: 1;
    margin: 40px;
    text-align: center;
    font-size: 2em;
    background: #eee; -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
} 

.magenta{
	margin-left: 40px;
}

.bluebird {
	margin-right: 40px;
}

.wholething {
	width: calc(100% - 200px);
	height: 300px;
	position: absolute;
	top:0;
	padding: 100px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.instructions{
	font-size: 2em;
}