*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 10px;
  font-family: "Charlemagne Std", Garamond, "Times New Roman", Times, serif;
  /*font-family: 'Open Sans', 'sans-serif';*/
  background-color: #BFDBF7;
  color: #444;
}

h1, p {
  margin: 0 0 1em 0;
}

a {
  color: #053C5E;
  text-decoration: none;
}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

/* no grid support? */
.sidebar {
  width: 19.1489%;
  padding: 300px;
  background-color: #1F7A8C;
  color: #053C5E;
  grid-area: sideBarLab;

}

.img-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.filler {
  grid-area: fillerLab;
  display: none;
}

.content {
  float: right;
  width: 79.7872%;
  grid-area: contentLab;
}

.sideGridText{
  grid-area: sideGridTextLab;
}
.sideGridImage{
  grid-area: sideGridImgLab;
}

.wrapper {
  display: grid;
  grid-template-rows: 140px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
  "sideBarLab"
  "contentLab"
}
.sideGrid {
  display: grid;
  grid-template-areas:
  "sideGridTextLab sideGridImgLab";
}
.header { display: none; }

@media (min-width: 550px) {
  .header {
    display: block;
    grid-area: headerLab;
  }
  .filler {
    grid-area: fillerLab;
    display: block;
  }
  .wrapper {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 150px 3fr;
    grid-template-rows: 50px 220px 1fr;
    grid-gap: 20px;
    text-decoration: none;
    grid-template-areas:
    "headerLab  headerLab"
    "sideBarLab contentLab"
    "fillerLab  contentLab"
  }
  .sideGrid {
    display: grid;
    grid-template-areas:
    "sideGridImgLab"
    "sideGridTextLab";
  }
}



/* make a grid */


.title {
  text-align: right;
}
.pagePieceDate, .pagePieceInsturmentation {
    text-align: right;
    text-decoration: italic;
}

.pieceTitle{
  text-decoration: italic;
}


.description {
    font-size: 0.875em; /* 14px/16=0.875em */
    margin-left: 2em;
}

button{
  font-family: 'Open Sans', 'sans-serif';
}

.myCustomTable {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8em; /* 14px/16=0.875em */
    background-color: #f5f5f5;
    border-radius: 10px;

}

.wrapper > * {
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  /* needed for the floated layout*/
  margin-bottom: 10px;
}

.header, .footer {
  grid-column: 1 / -1;
  /* needed for the floated layout */
  clear: both;
}




/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .wrapper > * {
    width: auto;
    height: auto;
    margin: 0;
  }
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .sideGrid > * {
    width: auto;
    height: auto;
    margin: 0;
  }
}