*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 10px;
  font-family: sans-serif;
  /*font-family: 'Open Sans', 'sans-serif';*/
  background-color: #FDFDFF;
  color: #444;
}

h1, p {
  margin: 0 0 1em 0;
}

h3, p {
  margin: 1em 0 .5em 0;
}

a:link {
  color: #888;
/*  text-decoration: none;
*/}
a:visited {
  color: #888;
/*  text-decoration: none;
*/}
a:hover {
  color: #888;
/*  text-decoration: none;
*/}
a:active {
  color: #888;
/*  text-decoration: none;
*/}

/* no grid support? */
.sidebar {
  width: 19.1489%;
  padding: 300px;
/*  background-color: #1F7A8C;
*/  color: #053C5E;
  grid-area: sideBarLab;
}

.img-circle {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}

.filler {
  grid-area: fillerLab;
  display: none;
}

.content {
  float: right;
  width: 79.7872%;
  grid-area: contentLab;
}

/*a.sidebarLink: {
  margin-left: 20px;
  color: #1F7A8C;
}
*/


a.sidebarLink:link {
  color: #1F7A8C;
/*  text-decoration: none;
*/}
a.sidebarLink:visited {
  color: #1F7A8C;
/*  text-decoration: none;
*/}
a.sidebarLink:hover {
  color: #1F7A8C;
/*  text-decoration: none;
*/}
a.sidebarLink:active {
  color: #1F7A8C;
/*  text-decoration: none;
*/}


a.nav-link:link {
  color: #1F7A8C;
/*  text-decoration: none;
*/}
a.nav-link:visited {
  color: #1F7A8C;
/*  text-decoration: none;
*/}
a.nav-link:hover {
  color: #1F7A8C;
/*  text-decoration: none;
*/}
a.nav-link:active {
  color: #1F7A8C;
/*  text-decoration: none;
*/}

a.not-ready-nav-link:link {
  color: #444;
/*  text-decoration: none;
*/}
a.not-ready-nav-link:visited {
  color: #444;
/*  text-decoration: none;
*/}
a.not-ready-nav-link:hover {
  color: #444;
/*  text-decoration: none;
*/}
a.not-ready-nav-link:active {
  color: #444;
/*  text-decoration: none;
*/}



.sideGridText{
  grid-area: sideGridTextLab;
  padding-left: 10px;
}
.sideGridImage{
  grid-area: sideGridImgLab;
  text-align: right;
}

.wrapper {
  display: grid;
  grid-template-rows: 140px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
  "sideBarLab"
  "contentLab"
}
.sideGrid {
  display: grid;
  grid-template-areas:
  "sideGridTextLab sideGridImgLab";
}
.header { display: none; }

@media (min-width: 600px) {
  .header {
    display: block;
    grid-area: headerLab;
  }
  .filler {
    grid-area: fillerLab;
    display: block;
  }
  .wrapper {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 150px 3fr;
    grid-template-rows: 50px 220px 1fr;
    grid-gap: 20px;
    text-decoration: none;
    grid-template-areas:
    "headerLab  headerLab"
    "sideBarLab contentLab"
    "fillerLab  contentLab"
  }
  .sideGrid {
    display: grid;
    grid-template-areas:
    "sideGridImgLab"
    "sideGridTextLab";
  }
}



/* make a grid */


.title {
  text-align: right;
  color:#1F7A8C;
}
.pagePieceDate, .pagePieceInsturmentation {
    text-align: right;
    text-decoration: italic;
}

.pieceTitle{
  text-decoration: italic;
}


.description {
    font-size: 0.875em; /* 14px/16=0.875em */
    margin-left: 2em;
}

.btn { 
  font-size: 100%;
  border: 0px;
  background-color: #1F7A8C;
}
button{
  font-family: 'Open Sans', 'sans-serif';
  font-size: 150%;
}

.myCustomTable {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8em; /* 14px/16=0.875em */
    background-color: #f5f5f5;
    border-radius: 10px;

}

.wrapper > * {
  border-radius: 10px;
  padding: 20px;
  font-size: 150%;
  /* needed for the floated layout*/
  margin-bottom: 10px;
}

.header, .footer {
  grid-column: 1 / -1;
  /* needed for the floated layout */
  clear: both;
}




.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .wrapper > * {
    width: auto;
    height: auto;
    margin: 0;
  }
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .sideGrid > * {
    width: auto;
    height: auto;
    margin: 0;
  }
}