<h1 class="title">Small Music</h1>
<div class="pagePieceDate">2018</div>
<div class="pagePieceInsturmentation">Soloist and Live Electronics</div>
<br>
<br>
<div class="container">
<iframe src="//www.youtube.com/embed/IPDe_UPFTL4" 
frameborder="0" allowfullscreen class="video"></iframe>
</div>

<br/><br>
Exploring divested compositional agency, Small Music works to expose the most intimate details of any performance. This algorithmically generated piece is unique for every performance, and the performer is expected to be performing the work at first sight. This intentional situation of performance prima vista works to highlight both the performer's prowess and humanity. Comprised of a simple soloist's line set against simple electronic counterpoint, this intimate work explores our imperfect human nature.
<br/>
<br/>
Every performance should be done with a fresh score specifically generated for that performance, which can be created below. Electronics (in MAX/MSP) are available <a target="_blank" href="https://github.com/kitchWWW/SmallMusic/tree/master/MaxComponents" > here.</a>
<br/>

<br/>
<center>
<div class="myCustomTable">
   <table class="table table-striped">
    <tr>
      <td> Option </td>
      <td> Selection </td>
    </tr>
      <tr>
         <td>Clef:</td>
            <td>
              <select class="form-control" name="singleSelect" ng-model="data.clefToUse">
                <option value="treble">treble</option>
                <option value="bass">bass</option>
                <option value="alto">alto</option>
                <option value="tenor">tenor</option>
                <option value="treble_8">treble 8vb</option>
                <option value="treble^8">treble 8va</option>
              </select> </td>
      </tr>
      <tr>
        <td>Key</td>
        <td>
          <select class="selectpicker" name="keyselector" ng-model="data.KEY">
            <option value="60">C major</option>
            <option value="55">G major</option>
            <option value="50">D major</option>
            <option value="57">A major</option>
            <option value="52">E major</option>
            <option value="59">B major</option>
            <option value="54">F# major</option>
            <option value="53">F major</option>
            <option value="58">Bb major</option>
            <option value="51">Eb major</option>
            <option value="56">Ab major</option>
            <option value="49">Db major</option>
          </select>
      </tr>
      <tr>
         <td>Your Name?</td>
         <td>
            <div>
               <input class="form-control" type="string" ng-model="data.NAME" id="example-number-input">
            </div>
         </td>
      </tr>
      </tbody>
   </table>
</div>
<br/>


   <div>
      <div class="btn-group">
         <button type = "button" class = "btn btn-primary"  ng-disabled="data.HIGH<data.LOW+12" ng-click="goSmall()" >{{buttonMessage}} </button>
      </div>
      &nbsp &nbsp <i class="fa fa-circle-o-notch fa-spin" ng-show="isLoading" style="font-size:24px"></i>
   </div>
</center>
<br/>

A <i> sample </i> score and performance are below.
<br>
<br>
<center>
<audio controls>
  <source src="res/smallMusic.mp3" type="audio/mp3">
Your browser does not support the audio element.
</audio>
</center>
<br>

<object data="res/smallMusic.pdf" type="application/pdf" width="100%" height="500px">
   <p>It appears you don't have a PDF plugin for this browser.
      No biggie...
   </p>
</object>

<br>
<br>
<br>
World premiere, above, May 7th, 2018.
<br>

Performance at ICMC-NYCEMF, June 16th, 2019 below.

<br/>
<br/>
<div class="container">
<iframe src="//www.youtube.com/embed/CcYr1-Fk3S4" 
frameborder="0" allowfullscreen class="video"></iframe>
</div>