<!DOCTYPE html>
<html ng-app="app">

  <head>
    <script src="https://code.angularjs.org/1.1.3/angular.js"></script>

  <script src='http://brianellis.us/midi/midi.js'></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">


  </head>

  <body>
    <div id="d">
<!--       <h1>Model Two-Voice Counterpoint</h1>
 -->  
      <br>
      <canvas width="700" height="700" id="canvas" drawing></canvas>
      <br>
      <br>
      <div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button id="myPlayButtonWow" ng-click="makeMusic()" type="button" class="btn btn-primary">Play Counterpoint</button>
          <button ng-click="remove()" type="button" class="btn btn-secondary">Remove Last</button>
          <button ng-click="clear()" type="button" class="btn btn-secondary">Clear</button>
           <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Presets
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" ng-click="preset(0)">Scale in thirds</a> <br>
              <a class="dropdown-item" ng-click="preset(1)">Short song</a> <br>
              <a class="dropdown-item" ng-click="preset(2)">Second Species</a> <br>
              <a class="dropdown-item" ng-click="preset(3)">Minor mode</a> <br>
              <a class="dropdown-item" ng-click="preset(4)">Random</a>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </body>
</html>