<h1 class="title">Three Notes</h1>
<div class="pagePieceDate">2018</div>
<div class="pagePieceInsturmentation">Solist</div>
<br/>
A musical offering. Left intentionally open, musical material is to be filled by the performing forces. Type of sustaining motion, dynamics, shaping, instrumentation, and all other musical decisions are left open to showcase the performing forces and their unique musical abilities. Total duration is left up to the discretion of concert programming and can be altered to fit desired lengths. Suggested durations are be between two minutes and half an hour. Because every performance of a work is always unique, a fresh score should be used for every occasion.
<br/>
<br/>
A note on seeds: A seed can set the random number generator so that every time you generate a piece, you get the same output. This is useful so that an ensemble director can distribute the seed to every member of the group, and then every member can look on a copy of the score on their own personal device. Seeds should be simple to type, case sensitive, and include no spaces or special characters. Unique seeds should be used for every performance.
<br/>
<br/>
<div class="myCustomTable">
   <table class="table table-striped">
    <tr>
      <td> Option </td>
      <td> Selection </td>
    </tr>
      <tr>
         <td>Clef:</td>
            <td>
              <select class="form-control" name="singleSelect" ng-model="data.clefToUse">
                <option value="treble">treble</option>
                <option value="bass">bass</option>
                <option value="alto">alto</option>
                <option value="tenor">tenor</option>
                <option value="treble_8">treble 8vb</option>
                <option value="treble^8">treble 8va</option>
              </select> </td>
      </tr>
      <tr>
         <td>Your Name?</td>
         <td>
            <div>
               <input class="form-control" type="string" ng-model="data.NAME" id="example-number-input">
            </div>
         </td>
      </tr>
      <tr>
         <td>Random seed? <i>(leave blank if none)</i></td>
         <td>
            <div>
               <input class="form-control" type="string" ng-model="data.SEED" id="example-number-input">
            </div>
         </td>
      </tr>
      </tbody>
   </table>
</div>
<center>
   <div>
      <div class="btn-group">
         <button type = "button" class = "btn btn-primary"  ng-disabled="data.HIGH<data.LOW+12" ng-click="goSon()" >{{buttonMessage}} </button>
      </div>
      &nbsp &nbsp <i class="fa fa-circle-o-notch fa-spin" ng-show="isLoading" style="font-size:24px"></i>
   </div>
<br/>
<br/>
<br/>

<audio controls>
<source src="res/ThreeNotes.mp3" type="audio/mp3">
Your browser does not support the audio element.
</audio>
</center>

<br>

<object data="res/threenotes_example_score.pdf" type="application/pdf" width="100%" height="500px">
   <p>It appears you don't have a PDF plugin for this browser.
      No biggie...
   </p>
</object>


<br/>
<br/>